
.depo {
    background-color: var(--color-primary);
}

.slider {
    background-color: var(--color-primary);
}

.slide {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 770px;
}

.slide__align {
    display: grid;
    align-items: center;
    justify-items: center;
    padding-top: 32px;
}

.depo .slide__text{
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 32px;
    color: #000;
    max-width: 60ch;
}

.depo .slide__text-title{
    display: grid;
    align-items: center;
    justify-content: space-around;
    text-align: right;
}

.depo .slide__text h2{
    font-size: 50px;
    letter-spacing: -2;
    margin: 0;
}

.depo .slide__text span{
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
}


.depo .slide__text h1{
    font-size: 84px;
    font-family: 700;
    margin: 0;
}

.depo .slide__text p{
    margin: 0;
}

.depo .slider .slide  .slide__background-img{
    background-color: var(--color-primary);
}

.depo .slider__next-arrow,
.depo .slider__prev-arrow{
    width: 2.5rem;
    height: 2.5rem;
    border: 5px solid #fff;
    border-right: unset;
    border-bottom: unset;
    opacity: .75;
}

.depo .slider__prev-arrow{
    z-index: 1;
    left: 1rem;
    transform: rotate(-45deg);
}

.depo .slider__next-arrow{
    right: 1rem;
    transform: rotate(135deg);
}

.depo .slider__prev-arrow::before,
.depo .slider__next-arrow::before{
    content: "";
}

.depo .slick-dots {
    bottom: 56px;
}

.depo .slick-dots li{
    margin: 0 10px;
}

.depo .slick-dots li button::before {
    font-size: 20px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}